body{
    background-color: pink;
    display: flex;
    justify-content: center; 
}

.main{
    background-color: white;
    border-radius: 14px;
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.2); 
    
    width: 255px;
    padding: 32px;
    margin-top: 124px;

    font-family:'Segoe UI';
}
.main button{
    border: 1px solid black;
    color: white;
    background-color: black;
    padding: 10px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: 64px;
    cursor: pointer;
}